<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%=title.page%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <% include ../common/menu %>
  <div class="container">
    <div class="row fileUpload">
        <div>
          <h2>Select a file to upload</h2>
        </div>
        <div>
          <form id="uploadForm" action="/file/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" title="Select a file" class="btn btn-default" />
            <button type="submit" class="btn btn-default">Upload <i id="uploadingSpinner" class=""></i></button>
          </form>
        </div>
    </div>
  </div>

  <hr />
  <footer>
    <% include ../common/footer %>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script src="/js/bootstrap.file-input.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // file upload 스타일 변경
      $('input[type=file]').bootstrapFileInput();
      $('#uploadForm').find('[type=submit]').attr('disabled', 'disabled');

      $('#uploadForm').find('input[type=file]').change(function() {
        $('#uploadForm').find('[type=submit]').removeAttr('disabled');
      });

      $('#uploadForm').submit(function() {
        $('#uploadingSpinner').addClass('icon-refresh icon-spin');
        $(this).find('[type=submit]').attr('disabled', 'disabled');
      });
    });
  </script>
</body>
</html>
