<!DOCTYPE html>
<html>
<head>
  <title><%= title.page %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <% include ../common/menu %>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <h2>Share file '<a href="/file/<%= file.id %>/info"><%= file.name %></a>'</h2>
        </div>
        <div class="row fileShare">
          <div class="col-sm-6">
            <div class="row">
              <h2>Viewable</h2>
            </div>
            <div class="row">
              <label>User to share with</label>
              <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                 <button class="btn btn-default">add <i class="icon-plus"></i></button>
                </span>
              </div>
            </div>
            <div class="row">
              already shared viewer list
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <footer>
    <% include ../common/footer %>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
</body>
</html>
