<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <h1><%= title %></h1>
  <div>
    <form action="/login" method="post">
      <input type="hidden" name="url" id="url" value="<%= redirectUrl %>" />
      <div>
        <input type="text" name="user[id]" id="user[id]" placeholder="Username" />
      </div>
      <div>
        <input type="text" name="user[pass]" id="user[pass}" placeholder="Password" />
      </div>
      <div>
        <input type="submit" value="login" />
      </div>
    </form>
  </div>

  <hr />
  <footer>
    <% include footer %>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
</body>
</html>
