<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="">LEFT AA</a></li>
        <li><a href="">LEFT BB</a></li>
        <li><a href="">LEFT CC</a></li>
        <li><a href="">LEFT DD</a></li>
        <li><a href="">LEFT EE</a></li>
      </ul>
      <ul class="nav pull-right">
        <% if(whoami) { %>
          <li><a href="/user/<%=whoami.id%>"><%=whoami.name%></a></li>
          <li class="divider-vertical"></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="">Sign up</a></li>
          <li class="divider-vertical"></li>
          <li><a href="<%= loginUrl %>">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
