<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="" title="Home">HOME</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/owns">Owns</a></li>
        <li><a href="/edits">Edits</a></li>
        <li><a href="/views">Views</a></li>
      </ul>
      <ul class="nav pull-right">
        <% if(whoami) { %>
          <li><a href="/user/<%=whoami.id%>"><%=whoami.name%></a></li>
          <li class="divider-vertical"></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="">Sign up</a></li>
          <li class="divider-vertical"></li>
          <li><a href="<%= loginUrl %>">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
