<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <span><%= user.name %></span>
      <span><%= user.id %></span>
    </div>
    <div>
      <h1>Own files</h1>
      <ul>
        <% if(file.own && 0 < file.own.length) { %>
        <li></li>
        <% } %>
      </ul>
    </div>
    <div>
      <h1>Shared files (editable)</h1>
      <ul>
        <% if(file.edit && 0 < file.edit.length) { %>
        <li></li>
        <% } %>
      </ul>
    </div>
    <div>
      <h1>Shared files (viewable)</h1>
      <ul>
        <% if(file.view && 0 < file.view.length) { %>
        <li></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
