<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/login.css' />
</head>
<body>
  <% include ../common/menu %>
  <div class="container">
    <div class="row">
      <h1><%= title %></h1>
    </div>
    <div class="row form">
      <form action="/login" method="post">
        <input type="hidden" name="url" id="url" value="<%= redirectUrl %>" />
        <div>
          <input type="text" name="user[id]" id="user[id]" placeholder="User ID" />
        </div>
        <div>
          <input type="text" name="user[pass]" id="user[pass]" placeholder="Password" />
        </div>
        <div class="button">
          <li class="left"><a href="/signup">signup</a></li>
          <li class="right"><input type="submit" value="login" /></li>
        </div>
      </form>
    </div>
  </div>

  <hr />
  <footer>
    <% include ../common/footer %>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
</body>
</html>
