body {padding-top: 70px;}

/* pagination */
.pager #more {display:none;}
.pager #no-more {display:none;}
.pager #more-error {display:none;}



/*** Bootstrap에서 원치 않는 내용 수정 ***/

.gnb .whoami {margin-right:5px;}
.gnb .dropdown-toggle .caret {border-top-color:black;}
