<div class="gnb navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="" title="Home">HOME</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/owns">Owns</a></li>
        <li><a href="/views">Views</a></li>
      </ul>
      <ul class="nav pull-right">
        <% if(whoami) { %>
          <li>
            <div class="btn-group whoami">
              <a class="btn" href="/user/<%=whoami.id%>"><i class="icon-user"></i> <%=whoami.name%></a>
              <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="i"></i>...</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="i"></i>Logout</a></li>
              </ul>
            </div>
          </li>
          <li><div><a href="/file/upload" class="btn"><i class="icon-plus"></i></a></div></li>
        <% } else { %>
          <li><a href="/signup">Sign up</a></li>
          <li class="divider-vertical"></li>
          <li><a href="<%= loginUrl %>">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>


<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
